<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBA-D6xUTum4kGxiphqsXrZbEibum4AGlE</string>
	<key>GCM_SENDER_ID</key>
	<string>622527500636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.decimoTerceiroApp</string>
	<key>PROJECT_ID</key>
	<string>notification-flutter-a9bb1</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-flutter-a9bb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622527500636:ios:828ce52d149cb025197199</string>
</dict>
</plist>